:root {
  --secondary: #688aff;
  --blue: #688aff;
  --third: #e43e43;
  --red: #e43e43;
  --forth: #ff9600;
  --yellow: #ff9600;
  --lightgray: #f1f4ff;
  --white: #ffffff;
  --black: #000;
}

$colors: 'red', 'yellow', 'blue', 'lightgray', 'black', 'white';

$rooturl: 'http://localhost:3000/sweetcity';

@each $color in $colors {
  .#{$color} {
    color: var(--#{$color});
  }
  .bg-#{$color} {
    background-color: var(--#{$color});
  }
  .shadow-#{$color} {
    text-shadow: 6px 6px var(--#{$color});
    @media (max-width: 600px) {
      text-shadow: 3px 3px var(--#{$color});
    }
  }
  .hover-#{$color}:hover {
    color: var(--#{$color});
    transition-duration: 350ms;
  }
}

/*texts */
.bg-black {
  color: white;
}
.bg-ligtgray,
.bg-white {
  color: black;
}

/*lightgray */
.filter-lightgray {
  filter: brightness(100%) invert(87%) sepia(15%) saturate(123%)
    hue-rotate(192deg) brightness(104%) contrast(106%);
}

/* different options */
/*blue */
.filter-blue {
  filter: brightness(100%) invert(50%) sepia(35%) saturate(1744%)
    hue-rotate(202deg) brightness(100%) contrast(108%);
}

/*red */
.filter-red {
  filter: brightness(0%) invert(26%) sepia(89%) saturate(1191%)
    hue-rotate(328deg) brightness(112%) contrast(98%);
}

/*yellow */
.filter-yellow {
  filter: brightness(100%) invert(53%) sepia(72%) saturate(807%)
    hue-rotate(359deg) brightness(101%) contrast(106%);
}

/*white */
.filter-white {
  filter: brightness(100%) invert(1);
}

.bg-pattern {
  background-size: contain;
  background-position: center center;
  background-image: url($rooturl + '/images/scbg2.png');
}

.bg-talk {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url($rooturl + '/images/03.png');
  color: black;
  padding: 120px 60px;
  max-width: 400px !important;
}

.bg-letter {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url($rooturl + '/images/letter2.png');
}

.bg-postkase {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url($rooturl + '/images/postkasse1.png');
  color: white;
  padding: 20px;
  margin: 8px !important;
  min-width: 260px;
  max-width: 400px;
  height: 240px;
  display: flex;
  flex-direction: column;
  place-content: center;
  &:hover {
    filter: invert(1);
    transition-duration: 350ms;
  }

  h2 {
    margin-bottom: 8px;
  }
  p {
    margin-top: 8px;
  }
}
